.title-list{
    font-family: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    padding: 2px;
    text-align: center;
    color:red;
    -webkit-text-stroke: 1px black;
    
    
}

.list {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
     }

 li {padding: 10px;
    background: #DCD8D7;
    margin: 18px;
    box-shadow: 1px 2px 10px  1px #ccc;
    border-radius: 10px;
    list-style: none;}    
  
    
 .custom-select {   
    background: #fff;
    margin: 40px;
     color: #687278;
     left: 650px;
    font-size: 25px;
	padding: 7px;
	/**/
  border-radius: 3px;
 position: relative;
 	 /**/
 	 width: 500px;
    height: 40px;
    transform: scale(1.04);
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    -webkit-box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
	/*-*/

}
.select {
    border-bottom: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 5px;
      background: #fff;
  
    transition:0.4s ease;
  }
  .select:hover {
  
      background: #EFEDE6;
      color: #000;
  }
.button{ 
        display: flex;
        justify-content: center;
}

.btn { width: 10%;
    border:none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
     outline: none;
    background: #EB2710;
  border-radius: 20px;
  position: relative;
}