* {
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;
    background: #f2f2f2;
    box-shadow: 1px 1px 30px -5px #888888;
    height: 100vh;

}

.card-img {
    
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.img{padding: 45px;}

.button{ 
    display: flex;
    justify-content: center;}

.btn {
    width: 10%;
    border:none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
     outline: none;
    background: #EB2710;
  border-radius: 20px;
  position: relative;
  

}
.btn:hover{
    background: #C13726;
    
}
