.title-list{
    font-family: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 80px;
    padding: 20px;
    text-align: center;
    color:red;
    -webkit-text-stroke: 1px black;
    
    
}
.list {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    
}
li {
    padding: 10px;
    background: #DCD8D7;
    margin: 20px;
    box-shadow: 1px 2px 10px  1px #ccc;
    border-radius: 10px;
}
.form {
    font-size: 25px;
}
.button{ 
        display: flex;
        justify-content: center;
}

.btn { width: 10%;
    border:none;
    padding: 12px;
    color: white;
    margin: 16px 0;
    font-size: 16px;
     outline: none;
    background: #EB2710;
  border-radius: 20px;
  position: relative;
}