body,
div,
span {
  padding: 0px;
  margin: 0px;
}
.page-wrapper {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: 1fr 5fr 1fr;
  grid-template-columns: auto;
  overflow: hidden;
  grid-template-areas: "header" "rules" "footer";
}
.header-wrapper {
  grid-area: header;
  width: 100%;
  height: 100%;
  padding: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.rules-wrapper {
  grid-area: rules;
  width: 90%;
  height: 100%;
  max-height: 60vh;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: auto;
  margin: 0 auto;
}
.bottom-wrapper {
  grid-area: footer;
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.title-list {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: rgba(186, 13, 13, 1);
  margin-top: 12px;
}
.rules-listing {
  font-size: 18px;

  font-family: Arial, Helvetica, sans-serif;
  width: 90%;
}
.rules-listing li {
  padding: 230px;
  margin: 12px;
  box-shadow: 1px 2px 10px 1px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  width: 100%;
}
.custom-select {
  background: #fff;
  color: #687278;
  font-size: 25px;
  border-radius: 8px;
  padding: 16px;
  width: 65%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
.select {
  border-bottom: 1px solid #eee;
  padding: 16px;
  border-radius: 5px;
  background: #fff;
  transition: 0.4s ease;
}
.select:hover {
  background: #efede6;
  color: #000;
}
.submit-btn-wrapper {
  justify-content: center;
  align-items: center;
  margin-left: 32px;
}
.submit-btn {
  border: none;
  padding: 12px;
  color: white;
  margin: 16px 0;
  font-size: 16px;
  outline: none;
  background: rgba(207, 36, 17, 1);
  border-radius: 20px;
  position: relative;
  transition: all 0.3s;
  font-size: 1.45rem;
}
.submit-btn:hover {
  cursor: pointer;
  background: rgba(219, 34, 13, 1);
}
.form-control {
  padding: 16px !important;
  max-width: 180px;
  margin-right: 16px !important;
  margin-left: 8px !important;
}
.custom-input {
  font-size: 1.2rem;
}
